@import '@/assets/scss/variables.scss';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}


body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: $very-light-grey;
    height: 100vh;
    overflow-x: hidden; 
  
    &.white {
      background: #fff;
    }
  
    &.dark-theme {
        background-color: $very-dark-blue;
    }
  
    @media (prefers-color-scheme: dark) {
        background-color: $very-dark-blue;
    }
  }
  

.relative {
    position: relative;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

h1 {
    font-size: 2.8rem;
}

